# Site
SITE_BASE_URL=

# API
API_KEY=

# Database
DATABASE_URL=

# Logging
LOG_LEVEL=info

# Notion CMS
NOTION_TOKEN=
NOTION_POST_DATABASE_ID=
NOTION_MEDIA_DATABASE_ID=
NOTION_AFFILIATE_DATABASE_ID=
NOTION_CONCEPT_PAGE_ID=

# Cloudinary (Image CDN)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DEFAULT_OG_IMAGE_PUBLIC_ID=
COMPANY_LOGO_URL=

# AWS SES (Email)
AMAZON_ACCESS_KEY_ID=
AMAZON_SECRET_ACCESS_KEY=
AMAZON_REGION=ap-northeast-1
AMAZON_SES_SENDER_EMAIL=

# hCaptcha
NEXT_PUBLIC_H_CAPTCHA_SITE_KEY=
H_CAPTCHA_SECRET=

# Google
GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_ADSENSE_AD_SLOT_ID=

# X (Twitter)
NEXT_PUBLIC_X_TIMELINE_URL=

# Instagram
INSTAGRAM_LONG_ACCESS_TOKEN=
INSTAGRAM_GRAPH_API_BASE_URL=
INSTAGRAM_USER_ID=
