/* ---------- DESIGN SYSTEM ----------  */

/* :warning: 1rem is 10px. defined 62.5% in html font size. */

:root {
  /* ----- TYPOGRAPHY ----- */

  /* font sizes */
  --advert: 8rem;
  --slogan-lg: 7.2rem;
  --slogan-sm: 6.4rem;
  --header-lg: 4.8rem;
  --header-sm: 4rem;
  --heading-1: 4.5rem;
  --heading-2: 3.5rem;
  --heading-3: 2.5rem;
  --heading-4: 2.0rem;
  --heading-5: 1.8rem;
  --heading-6: 1.6rem;
  --body-lg: 1.8rem;
  --body-md: 1.6rem;
  --body-sm: 1.4rem;
  --caption: 1.2rem;
  --button-lg: 1.6rem;
  --button-md: 1.4rem;
  --button-sm: 1.2rem;

  /* font leading */
  --leading-rate: 1.7;

  /* ----- COLORS ----- */

  /* main */
  --color-main: #219ebc;
  --color-main-light: #8ecae6;
  --color-main-dark: #023047;

  /* accent */
  --color-accent: #dda15e;
  --color-accent-light: #fefae0;
  --color-accent-dark: #bc6c25;

  /* base */
  --color-base-0: #f8f9fa;
  --color-base-1: #f1f3f5;
  --color-base-2: #e9ecef;
  --color-base-3: #dee2e6;
  --color-base-4: #ced4da;
  --color-base-5: #adb5bd;
  --color-base-6: #868e96;
  --color-base-7: #495057;
  --color-base-8: #343a40;
  --color-base-9: #212529;

  /* hover */
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --hover-3: rgba(0, 0, 0, 0.7);
}
