/* ---------- DESIGN SYSTEM ----------  */

/* :warning: 1rem is 10px. defined 62.5% in html font size. */

:root {
  /* ----- TYPOGRAPHY ----- */

  /* font sizes */
  --advert: 8rem;
  --slogan-lg: 7.2rem;
  --slogan-sm: 6.4rem;
  --header-lg: 4.8rem;
  --header-sm: 4rem;
  --heading-1: 4.5rem;
  --heading-2: 3.2rem;
  --heading-3: 2.5rem;
  --heading-4: 2.0rem;
  --heading-5: 1.8rem;
  --heading-6: 1.6rem;
  --body-lg: 1.8rem;
  --body-md: 1.6rem;
  --body-sm: 1.4rem;
  --caption: 1.2rem;
  --button-lg: 1.6rem;
  --button-md: 1.4rem;
  --button-sm: 1.2rem;

  /* font leading */
  --leading-rate: 1.7;

  /* ----- COLORS ----- */

  /* main */
  --color-main: 33 158 188;
  --color-main-light: 142 202 230;
  --color-main-dark: 2 48 71;

  /* accent */
  --color-accent: 221 161 94;
  --color-accent-light: 254 250 224;
  --color-accent-dark: 188 108 37;

  /* base */
  --color-base-0: 248 249 250;
  --color-base-1: 241 243 245;
  --color-base-2: 233 236 239;
  --color-base-3: 222 226 230;
  --color-base-4: 206 212 218;
  --color-base-5: 173 181 189;
  --color-base-6: 134 142 150;
  --color-base-7: 73 80 87;
  --color-base-8: 52 58 64;
  --color-base-9: 33 37 41;

  /* hover */
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --hover-3: rgba(0, 0, 0, 0.7);
}
