@config "../tailwind.config.js";
@import 'tailwind-config/design-token/variables.css';
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);


@layer base {
  html {
    text-decoration-skip-ink: none;
  }
  body {
    @apply h-full text-base-black font-original text-body-r-md;
  }
  input,
  button,
  textarea,
  select {
    @apply appearance-none bg-transparent outline-hidden p-0 border-0;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
