.popup {
  transform: translateX(var(--drawer-swipe-movement-x));
  transition: transform 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
}

.popup[data-swiping] {
  transition-duration: 0s;
  user-select: none;
}

.popup[data-starting-style],
.popup[data-ending-style] {
  transform: translateX(calc(100% + 2px));
}
